.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 20px;
  border-bottom: 1px solid #21212166;
  padding: 20px 0;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards {
    max-width: 288px;
    margin: 0 auto;
    grid-template-columns: none;
  }
}
