.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__description-wrap {
  display: flex;
  justify-content: space-between;
}

.card__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

.card__like-button {
  background-color: #fcf5e5;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__like-icon {
  opacity: 40%;
  padding: 0;
}

.card__like-icon:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card {
    padding-bottom: 0;
    max-width: 288px;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__description-wrap {
    padding: 6px 0 0;
  }
  .card__description {
    font-size: 16px;
    max-width: 235px;
    line-height: 1;
  }
  .card__like-icon {
    width: 20px;
    height: 18px;
  }
}
