.profile {
  display: flex;

  border-bottom: 1px solid #21212166;
  padding: 34px 0 20px;
}

.profile__container {
  display: flex;
  gap: 20px;
}
.profile__image {
  border-radius: 10px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__name {
  font-weight: 500;
  font-size: 32px;
}

.profile__description {
  color: #212121b2;
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-button {
  border: none;
  background-color: #fcf5e5;
  font-weight: 500;
  color: #212121b2;
  max-width: 120px;
  font-weight: 500;
}
.profile__edit-button:hover {
  color: #212121;
  opacity: 1;
}

.profile__edit-button_icon {
  opacity: 70%;
}

.profile__post-button {
  background-color: #212121;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  margin-left: auto;
  margin-top: auto;
  color: #fcf5e5;
  font-weight: 500;
}

.profile__post-button_icon {
  height: 12px;
  width: 12px;
}

.profile__post-button:hover {
  background-color: #212121cc;
}
